* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-style: normal !important;
}

i,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0em !important;
}

.navbar {
  background-color: black;
}

.logo {
  padding-right: 10px;
}

.btn-top {
  height: 40px;
  width: 120px;
  padding: 0px;
  margin-left: 20px;
  background-color: blueviolet;
  color: white;
  margin: 10px;
}

.section-2 {
  position: relative;
}

.back-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.heading1 {
  margin: -0.2em;
  position: absolute;
  top: 20%;
  left: 9%;
  font-weight: 700;
  font-size: 3.2em;
}

.heading2 {
  color: white;
  position: absolute;
  top: 30%;
  left: 8%;
  font-weight: 700;
  font-size: 2.3em;
}

.heading3 {
  color: white;
  color: white;
  position: absolute;
  top: 37%;
  left: 8%;
  font-weight: 700;
  font-size: 2.3em;
}

@media only screen and (max-width: 320px) {
  body {
    /* top Heading */
    .section-2 {
      position: relative;
      .back-img {
        width: 100%;
        height: 100vh;
        background-size: cover;
        /* background-repeat: no-repeat; */
      }

      .heading1 {
        /* margin: -0.2em; */
        position: absolute;
        top: 20%;
        left: 5%;
        font-weight: 700;
        font-size: 3em;
      }

      .heading2 {
        color: white;
        position: absolute;
        top: 32%;
        left: 5%;
        font-weight: 700;
        font-size: 1.6em;
      }

      .heading3 {
        color: white;
        position: absolute;
        top: 38%;
        left: 5%;
        font-weight: 700;
        font-size: 1.6em;
      }
      /* img */
      .pic1 {
        margin-left: 0; /* Adjust margin or use padding as needed for mobile */
        max-width: 100%; /* Ensure the image doesn't overflow its container */
      }

      








    }
  }
}

.section-3 {
  background-color: #322537;
}

.pic1 {
  margin-left: 12em;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 8em;
  /* gap: 1em; */
}

.box1 {
  display: flex;
  color: white;
  padding: 1em;
  width: 400px;
  height: 100px;
  background-color: #6a3f82;
  margin: 1em;
  border-radius: 10px;
}

.btn1 {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #623081;
  color: white;
  margin: 1.4em auto;
}

.box2 {
  width: 180px;
  height: 100px;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.box3 {
  width: 180px;
  height: 100px;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 1em;
  text-align: center;
  padding: 0.6em;
}

/* .color1 {
  text-align: center;
  color: #f83c44;
} */

/* .color2 {
  text-align: center;
  color: #8bcb99;
} */

div h2 span {
  text-align: center;
  color: #7dd3ef;
}

.heading4 {
  margin: 1em 25em auto;
}

.flex-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-left: 4em;
  gap: 2em;
  flex-wrap: wrap;
  /* margin: 1.3em; */
}

/* flex-container1 */

div span,
.color1 {
  color: #9c999e;
}

/* .color2 {
  color: white;
} */

.color3 {
  color: #ba68c8;
}

.paragraph1 {
  color: #9c999e;
  /* padding: 1em; */
  position: relative;
  bottom: -2em;
}

.Download-now-btn {
  width: 200px;
  padding: 0.5em;
  background-color: #473853;
  color: white;
  border: 2px solid white;
}

.mobile-img {
  width: 300px;
}

div .heading5 {
  text-align: center;
}

.Characters {
  width: 300px;
  position: relative;
  left: 37%;
  margin: 1em;
}

.parent1 {
  width: 550px;
  height: 230px;
  background-color: #473853;
  margin: 2em auto;
  border-radius: 10px;
  padding: 1em;
}

.stars-img {
  position: relative;
  right: -60%;
  bottom: -1em;
}

.girl1 {
  position: relative;
  bottom: -1em;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

span,
.Mishti {
  margin-left: 0.5em;
  position: relative;
  bottom: -1em;
}

div .Vector {
  position: relative;
  top: -15%;
  left: -5%;
  display: flex;
  justify-content: end;
}

.dots3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1em;
  cursor: pointer;
}

div .Our-listeners {
  margin: 7em;
  text-align: center;
  color: #ba68c8;
}

/* Three Cards */
div .parent2 {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: -4em;
}

div .childs1 {
  padding: 1.3em;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #2f2f2f;
}

p,
.paragraph2 {
  color: white;
  padding: 0.5em;
}

.div1 {
  text-align: center;
  margin-left: -1em;
  width: 295px;
  height: 120px;
  background-color: #9163b2;
  border-radius: 10px;
}

span,
.Misthi {
  color: white;
  position: relative;
  bottom: -2rem;
}

.gitls {
  margin: -2.4em;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

div .childs2 {
  padding: 1.3em;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #2f2f2f;
}

p .paragraph3 {
  color: white;
  padding: 0.3em;
}

.div2 {
  text-align: center;
  margin-left: -1em;
  width: 295px;
  height: 120px;
  background-color: #9163b2;
  border-radius: 10px;
}

.Clip-path {
  margin: -2.4em;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

span,
.Bhooma {
  color: white;
  position: relative;
  bottom: -2rem;
}

p .paragraph4 {
  color: white;
  padding: 0.3em;
}

.childs3 {
  padding: 1.3em;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #2f2f2f;
}

.div3 {
  text-align: center;
  margin-left: -1em;
  width: 295px;
  height: 120px;
  background-color: #9163b2;
  border-radius: 10px;
}

.Group {
  margin: -2.4em;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.Annu {
  color: white;
  position: relative;
  bottom: -2rem;
}

.Multipal-images {
  text-align: center;
  position: relative;
  bottom: -15px;
}

.spans {
  position: relative;
  z-index: 1;
  margin-left: -20px;
}

.img1 {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.span1 {
  color: #79737b;
  padding: 0.5em;
}

.Form-Container {
  position: relative;
  bottom: -9em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  flex-wrap: wrap;
  width: 750px;
  height: 300px;
  background-color: #a478be;
  border-radius: 10px;
}

.heading6 {
  position: relative;
  bottom: 1em;
  color: white;
}

.heading7 {
  margin-top: -3em;
  height: 400px;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}

.heading8 {
  text-align: center;
  padding: 0.2em;
}

.inputs {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  background-color: #f5f6f7;
  border: 2px solid white;
  padding: 1em;
}

.btn2 {
  width: 320px;
  height: 40px;
  background-color: #ba68c8;
  color: white;
  border-radius: 5px;
}

.Read-more {
  position: relative;
  top: 1.5px;
}

.heading9 {
  position: relative;
  top: 1px;
  color: #ba68c8;
}

.gradient-text1 {
  color: #f83c44;
}

#loneliness {
  color: #ba68c8;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: #322539 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba(0, 0, 0, 0.55)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
  background-color: #fff;
}

/* Footer CSS */

.footer {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 5em;
  /* padding-bottom: -10em; */
  width: 100%;
  height: 80vh;
  color: #fff;
  background-color: black;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  gap: 1em;
  min-width: 15em;
  max-width: 25em;
}

.section > h2 {
  color: white;
}

.section > a {
  color: #fff;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* width: 100% !important;
  height: fit-content; */
}

.three-section {
  position: relative;
  bottom: -1.2em;
}

/* .iconContainer > a {
  color: #fff;
  font-size: 1.3em;
} */

/* .footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: fit-content;
} */

/* .footer-input {
  background-color: #fff;
  color: #1e221d;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 3em;
  padding: 1em;
} */

/* .footer-submit {
  background-color: #ee5676;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 3em;
  padding: 1em;
} */
